@CHARSET "UTF-8";
/* general formattings */
body{

}
a{

}

/*
special classes
*/
p.class-alert{
	padding:20px 10px 15px 40px;;font-size: 14px; color: #007800;
	border:1px solid #007800;border-radius:5px;padding:4px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	height:35px;
}
p.class-alert span{
	width:35px;height:35px;position:relative;float:left;
	background: url(../images/alert.png) no-repeat;
}
p.class-error{
	padding:20px 10px 15px 40px;;font-size: 14px;border:1px solid #DC0000;color: #DC0000;border-radius:5px;padding:4px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;height:35px;
}
p.class-error span{
	width:35px;height:35px;position:relative;float:left;
	background: url(../images/error.png) no-repeat

}

/* the content */
div#default-wrapper{
	position: relative;
	width:80%;
	margin:0 auto ;
	background:url(../images/bg_transparent.png);
	padding-top:4px;
	min-height:500px;box-shadow:0 0 7px #000;

}

div#default-header{
	position: relative;width:98%;
	border:0px solid #000;
	height: 43px;
	margin:0px auto 4px auto;
	box-shadow:0 0 5px #000;
	border-radius:5px;padding:4px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

div#default-header div#default-header-profile{
	position: relative;background: #7D7D7D url(../images/gradient2.png) repeat-x  ;
	height: 35px;width:250px;float:right;
	box-shadow:0 0 5px #000;padding:4px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;z-index: 10000;cursor: pointer;

}

div#default-header div#default-header-profile img{
	position:relative;float:left;
	height:33px ;width:40px ;
	border:2px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;box-shadow:0 0 5px #000;cursor: pointer;
	
}
div#default-header div#default-header-profile #default-header-profile-more{
	position: absolute;padding:4px;
	height: 160px;
	width:300px;
	background: #ccc;
	float: right;
	top:50px;
	right:0px;
	z-index: 120;border:2px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;box-shadow:0 0 5px #000;display: none ;cursor: default;
	

}
div#default-header div#default-header-profile #default-header-profile-more img{
	position:relative;float:left;
	height:100px ;width:100px ;
	border:2px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;box-shadow:0 0 5px #000;cursor: pointer;
	
}
div#default-header div#default-header-profile #default-header-profile-more a.signout{
		text-decoration: none; background: #4D90FE;border-radius:5px;position:relative;
	-moz-border-radius:5px;font-size:14px;font-weight:bold; color:#fff;
	-webkit-border-radius:5px;height: 20px ;padding: 0.2em 2em;top:90px ;float:right;right:4px;

}
div#default-header div#default-header-profile #default-header-profile-more p#changeBg{
	padding: 4px; position:relative ;float:right;
}
div#default-header div#default-header-profile p.name{
	
	position:relative;
	float: left; 
	left:10px;
	top:0px;
	font-size:14px ; 
	font-weight: bold;
	margin: 0; 
	color: #800000; 
	text-shadow: 0px 1px 2px #999;
}

div#default-header div#default-header-profile p.type{
	position:relative;float: left; left:-80px;top:3px;font-size:12px ; 
}
/*
change bg
*/
#default-change-bg{
	position:absolute;height:300px; width:400px; right:5%;top:10%;z-index:130;background:url(../images/bg_transparent.png) repeat;
	border:4px solid #ccc;border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;box-shadow:0 0 5px #000;display:none;
}

#default-change-bg ul {
	list-style: none; float: left;
}
#default-change-bg ul li{
	list-style-type: none; float: left;;margin:5px
}
#default-change-bg ul li img{
	cursor: pointer;
}
/* 
main menu 

*/
div#default-main-menu{
	position: relative;background: #7D7D7D url(../images/gradient2.png)  ;height: 35px;
	box-shadow:0 0 5px #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;width:99%;margin:0px auto 4px auto;z-index: 100;
}

/* 

ribbon menu 

*/
div#default-ribbon-menu{
	position: relative;width:95%;float:right;right:5px;
	border:0px solid #000;
	height:55px;
	margin:4px auto 0px auto;	
	box-shadow:0 0 5px #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;		
}

div#default-content{
	position:relative;
	margin: 55px auto 0px auto;min-height: 500px;padding: 10px
}
div#default-content-left{
	position:relative;float: left;width:205px;min-height: 500px;color: #ccc;margin:3px;
	box-shadow:0 0 5px #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;padding:4px;	
}

div#default-content-right{
	position:relative;float: left;width:725px;min-height: 500px;
	box-shadow:0 0 5px #000;
	border-radius:5px;
	-moz-border-radius:5px;margin:3px;
	-webkit-border-radius:5px;padding:8px;
}

ul#default-ribbon-menu{
	margin:0px!important;
	list-style: none ; float:right;position: relative;z-index: 100;padding: 2px 3px 6px 4px
}
ul#default-ribbon-menu li{
	
	list-style: none ; float:left;position: relative;border: 1px solid #999;border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;margin:3px;height:35px;padding:2px 8px 8px 8px;
}
/* menu div formattings */
ul#default-ribbon-menu li div{
	height:32px;width:32px;cursor: pointer
		}
ul#default-ribbon-menu li a{
	position: relative;top:0px;font-size: 9px;font-weight: bold;	color: #303030
		}
ul#default-ribbon-menu li a p{
	position: relative;top:-12px;font-size: 9px;font-weight: bold;	color: #303030
		}
ul#default-ribbon-menu li div.APPLY{
		background:url(../../../images/toolbar/icon-32-apply.png);
	
	}
ul#default-ribbon-menu li div.BACK{
		
		background:url(../../../images/toolbar/icon-32-back.png);
	}
ul#default-ribbon-menu li div.CANCEL{
		background:url(../../../images/toolbar/icon-32-cancel.png);
	
	}
	
ul#default-ribbon-menu li div.CONFIG{
		background:url(../../../images/toolbar/icon-32-config.png);
	
	}
ul#default-ribbon-menu li div.DELETE{
		background:url(../../../images/toolbar/icon-32-delete.png);
	
	}
		
ul#default-ribbon-menu li div.HELP{
		background:url(../../../images/toolbar/icon-32-help.png);
	
	}
ul#default-ribbon-menu li div.NEW{
		background:url(../../../images/toolbar/icon-32-apply.png);
	
	}
ul#default-ribbon-menu li div.PRINT{
		
		background:url(../../../images/toolbar/icon-32-print.png);
	}
ul#default-ribbon-menu li div.SAVE{
		background:url(../../../images/toolbar/icon-32-save.png);
	
	}	
		
	
	
	




